body {
  background-image: url("../../Assets/Images/login-background.jpeg");
  background-size: cover;
  background-position: center;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

header {
  padding: 03px;
  background-color: #fff;
  text-align: center;
  color: #777;
}

header p {
  font-size: 14px; /* Standard small text size */
  color: #555;
  margin-top: 0px;
}

header h4 {
  padding-top: 9px;
  padding-bottom: 0;
}

.login-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}

.header .heading {
  font-size: 22px; /* Adjusted to match the image */
  font-weight: 400;
  color: #333;
}

.card {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.card p {
  font-size: 14px; /* Standard small text size */
  color: #6a6767;
  font-weight: bold;
  text-align: center;
  border-top: 1px;
}

.card .form-group label {
  font-size: 14px; /* Standard label size */
  color: #333;
  font-weight: 600;
}

.card .form-control {
  font-size: 14px; /* Standard input text size */
  padding: 10px;
}

.card .form-check-label {
  font-size: 14px; /* Standard checkbox label size */
  color: #333;
}

.card .btn-primary,
.card .btn-primary:hover,
.card .btn-primary:active,
.card .btn-primary:visited {
  font-size: 16px; /* Slightly larger for emphasis */
  padding: 10px;
  background-color: #01283e;
}

.card .login-btn {
  padding-top: 20px;
}

.form-group a {
  padding-top: 8px;
  font-size: 14px; /* Match the small text links */
  color: grey; /* Typical link color */
  text-decoration: underline;
}

.form-group a:hover {
  text-decoration: underline;
  color: blue;
}

.footer {
  background-color: #f8f9fa;
  padding: 5px 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .text-muted {
  font-size: 12px; /* Small footer text */
  color: #6c757d;
}

.footer a {
  font-size: 12px; /* Match the small footer link */
  color: #6c757d;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
